   html,
   body {
       margin: 0;
       padding: 0;
       /* overflow: hidden; */
       touch-action: manipulation;
       /* height: 100%; */
       width: 100%;
       background-color: #fefefe;
       color: #0061A8;
       font-family: 'Inter';
   }

   body {
       font-family: 'Inter';
       margin: 0;
       padding: 0;
       background-color: #fefefe;
       color: #0061A8;
   }

   /* Overlay da notch */
   #notch-overlay {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: env(safe-area-inset-top);
       /* altura dinâmica da notch */
       background: rgba(255, 255, 255, 100);
       /* começa transparente */
       backdrop-filter: blur(0px);
       /* sem blur no início */
       -webkit-backdrop-filter: blur(0px);
       /* Safari */
       pointer-events: none;
       /* não bloqueia cliques */
       z-index: 9999;
       box-shadow: 0 0 0 transparent;
       /* sem sombra no início */
       transition: background 0.3s ease,
           backdrop-filter 0.3s ease,
           -webkit-backdrop-filter 0.3s ease,
           box-shadow 0.3s ease;
   }

   #content {
       padding-top: calc(env(safe-area-inset-top) + 20px);
       font-family: -apple-system, BlinkMacSystemFont, sans-serif;
   }

   .view {
       display: none;
       padding: 20px;
   }

   .active {
       display: block;
   }

   h1 {
       text-align: center;
       color: #0061A8;
       margin-bottom: 0px;
   }

   h2 {
       text-align: left;
       color: #0061A8;
   }

   .team-section {
       background-color: white;
       margin: 20px 0;
       padding: 10px;
       border-radius: 10px;
       box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
   }

   .team-section.red {
       /* background-color: #ffcccc; */
       border-color: #a40000;
       border-style: solid;
       color: #a40000;
   }

   .team-section.red h2 {
       /* background-color: #ffcccc; */
       color: #800000;
       margin-top: 2px;
       margin-bottom: 10px;
       font-size: 20px;
       text-align: center;

   }

   .team-section.white {
       /* background-color: #333; */
       border-color: #333;
       border-style: solid;
       color: #333;
   }

   .team-section.white h2 {
       /* background-color: #333; */
       /* color: #ffffff; */
       color: #333;
       margin-top: 2px;
       margin-bottom: 10px;
       font-size: 20px;
       text-align: center;
   }

   .player-list select {
       width: 100%;
       padding: 10px;
       margin: 5px 0;
       height: 40px;
       font-size: 15px;
       border-radius: 5px;
       /* background-color: #fefefe; */
       background-color: #fefefe;
       border-color: #333;

   }

   button {
       font-size: 20px;
       font-weight: 800;
       background-color: #0061A8;
       color: white;
       padding: 0px;
       border: none;
       border-radius: 10px;
       margin-top: 10px;
       width: 100%;
       height: 60px;
       cursor: pointer;
       user-select: none;
       -webkit-user-select: none;
       /* Para Safari */
       -moz-user-select: none;
       /* Para Firefox */
       -ms-user-select: none;
       /* Para IE/Edge */
   }

   button:disabled {
       background-color: #cccccc;
       color: #666666;
       cursor: not-allowed;
       opacity: 0.7;
   }

   .score-controls button {
       /* margin-left: auto;
            margin-right: auto; */
       /* margin: 5px 5px 10px 0; */
       margin: 5px;
       width: 50%;
       padding: 0px;
       font-size: 20px;
   }

   .game-timer {
       font-size: 25px;
       text-align: center;
       padding: 10px;
       background-color: white;
       color: #0061A8;
       width: 20%;
       border-radius: 10px;
       margin-right: 0px;
       box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
   }

   .winner-select {
       margin-top: 20px;
       padding: 5px;
       background-color: #f0f8ff;
       border: 1px solid #f0f8ff;
       border-radius: 10px;
   }

   .winner-select select {
       width: 100%;
       padding: 10px;
       margin: 5px 0;
       height: 40px;
       font-size: 15px;
       border-radius: 5px;
   }

   .summary-section {
       /*white-space: pre-wrap;*/
       
       padding: 10px;
       border-radius: 10px;
   }

   #score-board h3 {
       margin-top: 2px;
       margin-bottom: 10px;
       font-size: 20px;
       text-align: center;
       /* color: #004080; */
   }

   #score-board div {
       /* margin: 20px 0; */
       padding-top: 10px;
       border-radius: 10px;
       box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
   }

   #score-controls-buttons {
       /* margin: 20px 0; */
       padding-top: 0px;
       /* border-radius: 10px; */
       /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
   }

   .score-controls {
       text-align: center;
       background-color: rgba(255, 255, 255, 0.9);
       color: #000;
       margin: 10px 0;
       border-radius: 10px;
       box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

   }

   .score-controls div {
       display: flex;
       justify-content: center;


   }

   .score-controls button {
       height: 50px;

   }

   .title-timer {
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 20px;
       /* font-size: 25px; */
       /* margin: 20px auto; */
       padding-left: 10px;
       background-color: #0061A8;
       color: white;
       width: 100%;
       height: 50px;
       border-radius: 10px;
       box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
   }

   .title-timer h2 {
       text-align: left;
       color: white;

   }

   .player-name {
       font-weight: 800;
   }

   .hold-label {
       margin-top: 5px;
       text-align: center;
       /* margin-top: 100px;
       padding-top: 50px; */
   }

   #popup {
       position: fixed;
       top: 0;
       left: 0;
       width: 100vw;
       height: 100vh;
       background-color: rgba(0, 0, 0, 0.85);
       color: #fff;
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
       font-size: 22px;
       padding: 20px;
       z-index: 9999;
       opacity: 0;
       transition: opacity 0.5s ease-in-out;
   }

   #popup.show {
       opacity: 1;
   }

   .jump,
   .back {
       background-color: #fefefe;
       /* color:#333; */
       border-color: #0061A8;
       color: #0061A8;
       font-weight: 400;
       border-style: solid;

   }


   .repair {
       background-color: #fefefe;
       /* color:#333; */
       border-color: #c8c800;
       color: #c8c800;
       font-weight: 400;
       border-style: solid;

   }


   summary-section {
       width: 100%;
       overflow-x: auto;
       /* Rolagem horizontal em mobile */
   }

   table {
       border-collapse: collapse;
       width: 100%;
       min-width: 500px;
       /* Evita “apertar” demais */
       text-align: center;
   }

   th,
   td {
       padding: 8px;
       border: 1px solid #000;
       text-align: center;
       white-space: nowrap;
       /* Evita quebrar texto */
   }

   /* Ajustes para telas menores */
   @media (max-width: 600px) {

       th,
       td {
           padding: 6px;
           font-size: 14px;
       }
   }

   /* ==== Modal ==== */
   .modal {
       display: none;
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background: rgba(0, 0, 0, 0.5);
       justify-content: center;
       align-items: center;
       animation: fadeIn 0.3s;
       z-index: 999;
   }

   .modal-content {
       background: white;
       padding: 20px;
       border-radius: 12px;
       text-align: center;
       width: 320px;
       box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
       animation: slideUp 0.3s;
   }

   .modal-content p {
       font-size: 16px;
       margin: 10px 0 20px;
   }

   .modal-buttons {
       display: flex;
       gap: 15px;
       /* espaço entre os botões */

       justify-content: space-around;
   }

   .btn {
       padding: 10px 20px;
       border: none;
       border-radius: 6px;
       cursor: pointer;
       font-size: 14px;
       display: flex;
       align-items: center;
       gap: 6px;
       text-align: center;
   }

   .btn-cancel {
       background: #ff4646;
       color: white;
   }

   /* Simple animations */
   @keyframes fadeIn {
       from {
           opacity: 0;
       }

       to {
           opacity: 1;
       }
   }

   @keyframes slideUp {
       from {
           transform: translateY(50px);
           opacity: 0;
       }

       to {
           transform: translateY(0);
           opacity: 1;
       }
   }

       /* Splash screen */
    #splash-screen {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #007BFF; /* Azul de fundo */
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index: 9999;
    }

    #splash-screen img {
      max-width: 80%;
      margin-bottom: 20px;
    }

    #splash-screen h1 {
      color: white;
      font-size: 2em;
      margin: 0;
    }

    #splash-screen p {
      color: white;
      margin: 5px 0 0;
      font-size: 1.2em;
    }