   html,
   body {
       margin: 0;
       padding: 0;
       /* overflow: hidden; */
       touch-action: manipulation;
       /* height: 100%; */
       width: 100%;
       background-color: #fefefe;
       color: #0061A8;
       font-family: 'Inter';
   }

   body {
       font-family: 'Inter';
       margin: 0;
       padding: 0;
       background-color: #fefefe;
       color: #0061A8;
   }

   .view {
       display: none;
       padding: 20px;
   }

   .active {
       display: block;
   }

   h1 {
       text-align: center;
       color: #0061A8;
       margin-bottom: 0px;
   }

   h2 {
       text-align: left;
       color: #0061A8;
   }

   .team-section {
       background-color: white;
       margin: 20px 0;
       padding: 10px;
       border-radius: 10px;
       box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
   }

   .team-section.red {
       background-color: #ffcccc;
       color: #800000;
   }

   .team-section.red h2 {
       background-color: #ffcccc;
       color: #800000;
   }

   .team-section.white {
       background-color: #333;
       color: #ffffff;
   }

   .team-section.white h2 {
       background-color: #333;
       color: #ffffff;
   }

   .player-list select {
       width: 100%;
       padding: 10px;
       margin: 5px 0;
       height: 40px;
       font-size: 15px;
       border-radius: 5px;
       background-color: #fefefe;
   }

   button {
       font-size: 20px;
       font-weight: 800;
       background-color: #0061A8;
       color: white;
       /* padding: 10px 15px; */
       padding: 0px;
       border: none;
       border-radius: 10px;
       margin-top: 10px;
       width: 100%;
       height: 60px;
       cursor: pointer;
       user-select: none;
       -webkit-user-select: none;
       /* Para Safari */
       -moz-user-select: none;
       /* Para Firefox */
       -ms-user-select: none;
       /* Para IE/Edge */
   }

   .score-controls button {
       /* margin-left: auto;
            margin-right: auto; */
       margin: 5px 5px 10px 0;
       width: 40%;
       padding: 0px;
       font-size: 16px;
   }

   .game-timer {
       font-size: 25px;
       text-align: center;
       padding: 10px;
       background-color: white;
       color: #0061A8;
       width: 20%;
       border-radius: 10px;
       box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
   }

   .winner-select {
       margin-top: 20px;
       padding: 5px;
       background-color: #f0f8ff;
       border: 1px solid #f0f8ff;
       border-radius: 10px;
   }

   .winner-select select {
       width: 100%;
       padding: 10px;
       margin: 5px 0;
       height: 40px;
       font-size: 15px;
       border-radius: 5px;
   }

   .summary-section {
       white-space: pre-wrap;
       background: #f0f8ff;
       padding: 10px;
       border-radius: 10px;
   }

   #score-board h3 {
       margin-top: 2px;
       margin-bottom: 10px;
       font-size: 20px;
       text-align: center;
       /* color: #004080; */
   }

   #score-board div {
       /* margin: 20px 0; */
       padding-top: 10px;
       border-radius: 10px;
       box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
   }

   .score-controls {
       text-align: center;
       background-color: rgba(255, 255, 255, 0.9);
       color: #000;
       margin: 10px 0;
       border-radius: 10px;
       box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

   }

   .score-controls div {
       display: flex;
       justify-content: center;

   }

   .score-controls button {
       height: 50px;

   }

   .title-timer {
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 20px;
       /* font-size: 25px; */
       /* margin: 20px auto; */
       padding-left: 10px;
       background-color: #0061A8;
       color: white;
       width: 100%;
       height: 50px;
       border-radius: 10px;
       box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
   }

   .title-timer h2 {
       text-align: left;
       color: white;

   }

   .player-name {
       font-weight: 800;
   }
     #popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.85);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 22px;
      padding: 20px;
      z-index: 9999;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }
    #popup.show {
      opacity: 1;
    }

